

.container {
  width: 1170px;
  display: flex;
  justify-content: space-between;
}

.users {
  width: 150px;
  list-style: none;
}
.users > li {
  padding: 10px;
  border: 1px solid lightgray;
}
.users > li > a {
  text-decoration: none;
  color: black;
}

.users > li > a.active {
  font-weight: 600;
}

.todos {
  width: 500px;
  list-style: none;
}

.todos > li {
  border: 1px solid lightgray;
  padding: 10px;
  text-align: center;
}